@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #000000;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
  }

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

.btn {
    display: inline-block;
    background:var(--secondary-color);
    color:var(--white);
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
  }
  
  .btn:hover {
    background-color: var(--secondary-color-dark);
    letter-spacing: 1px;
  }

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .nav__logo {
    max-width: 130px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
  }
  
  .link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
  }
  
  .link a:hover::after {
    width: 50%;
  }

.container{
    background: var(--primary-color);
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:var(--white);
    text-shadow: 0 5px 10px var(--primary-color);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: var(--primary-color-light);
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 40%;
    width: 80%;
    object-fit: cover;
}

.container .box-container .box h3{
    color:var(--text-light);
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:var(--text-light);
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:var(--secondary-color);
    color:var(--white);
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
    background-color: var(--secondary-color-dark);
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}