@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #000000;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

/* CSS untuk body */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

/* CSS untuk sidebar */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color-light);
  padding-top: 20px;
}

.sidebar h2 {
  color: var(--secondary-color);
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: white;
}

.sidebar a:hover {
  background-color: var(--secondary-color-dark);
  border-radius: 10px;
}

.logout {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.logout a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.logout a:hover {
  background-color: #555;
}

/* CSS untuk konten utama */
.content {
  margin-left: 200px;
  padding: 20px;
}

.content h2 {
  color: var(--secondary-color);
}

.content p {
  color: var(--white);
}

/* CSS untuk kotak dashboard */
.dashboard-box {
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-light);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.dashboard-box h3 {
  margin-top: 0;
  color: var(--text-light);
}

/* CSS untuk konten utama */
.content {
  margin-left: 200px;
  padding: 20px;
}

/* CSS untuk tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid var(--primary-color-light);
  padding: 8px;
  text-align: left;
  color: var(--text-light);
}

th {
  background-color: var(--primary-color-light);
}

/* CSS untuk tombol */
button {
  display: inline-block;
  background: var(--secondary-color);
  color: var(--white);
  font-size: 17px;  
  border-radius: 5px;
  padding: 8px 25px;
  transition: letter-spacing 0.2s ease; /* Menambahkan transisi dengan durasi 0.3 detik dan fungsi-timing ease */
}

button:hover {
  background-color: var(--secondary-color-dark);
  letter-spacing: 1px; /* Atur nilai letter spacing yang lebih besar saat tombol dihover */
}

.btndel {
  display: inline-block;
  background: var(red);
  color: var(--white);
  font-size: 17px;  
  border-radius: 5px;
  padding: 8px 25px;
  transition: letter-spacing 0.2s ease; /* Menambahkan transisi dengan durasi 0.3 detik dan fungsi-timing ease */
}

.btndel:hover {
  background-color: var(--secondary-color-dark);
  letter-spacing: 1px; /* Atur nilai letter spacing yang lebih besar saat tombol dihover */
}

