<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">

<div class="admin-workout-form-container centered">

   <form action="" method="post" enctype="multipart/form-data">
      <h3 class="title">update the product</h3>
      <input type="text" placeholder="Name" name="workout_name" class="box">
      <input type="text" placeholder="Short Description" name="short_desc" class="box">
      <input type="text" placeholder="Description" name="desc" class="box">
      <input type="file" accept="image/png, image/jpeg, image/jpg" name="workout_image" class="box">
      <input type="submit" value="update workout" name="update_workout" class="btn">
      <a href="index.html" class="btn">go back!</a>
   </form>
   
</div>

</div>

</body>
</html>
